<div class="header-bottom">
    <div class="container">
        <a class="logo" href="https://burgerking.vn/">
            <img style="width: 90px;height: 90px;" src="https://gigamall.com.vn/data/2019/09/05/15023424_LOGO-NIKE-500x500.jpg" alt="Burgerkinga" class="large">
        </a>
        
<nav id="nav">
<div class="nav-primary">
    <button class="bt">KHUYẾN MÃI</button>
    <button class="bt">THỰC ĐƠN</button>
    <button class="bt">CỬA HÀNG</button>
</div>

</nav>
<!--            <a href="--><!--?php/* //echo Mage::getUrl('thuc-don.html'); ?--><!--" class="btn btn-white btn-order-custom">--><!--</a>-->
    </div>
</div>
